* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

.photos_title {
    font-weight: bold;
    font-size: 35px;
}

body {
    font-family: "Brush Script MT",cursive;
    color: rgb(63, 211, 221);
    background: repeat left/cover url("bkgrnd.png");
    background-size: 100% 100%;
    font-size: 23px;
}

.container-fluid {
    padding: 30px 50px;
}


.search_photos {
    width: 575px;
    margin: 0 auto;
    position: relative;
    border-radius: 30px;
}

.button-3{
    border-radius: 12px;
}
#search_photos {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

#search_photos input {
    width: 80%;
    font-size: 1.5rem;
    padding: 5px 30px;
    border: 2px solid rgb(52, 213, 234);
    border-radius: 20px;
}

#search_photos button {
    position: absolute;
    top: 10;
    bottom: 10;
    background-color: transparent;
    outline: none;
    border: none;
    width: 3rem;
    text-align: center;
    font-size: 1.75rem;
    cursor: pointer;
    color: rgb(53, 221, 243);
    border-radius: 25px;
    background: #d2fd95;
}
.button-22{border-radius: 12px;}
.button-23{border-radius: 12px;}

.search_info {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
}


.inline-block {
    display: inline-block;
    width: 30%;
 }

@media (max-width: 1200px) {
    #search_photos {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .container-fluid {
        padding: 30px 35px;
    }

    #search_photos {
        width: 100%;
    }

    .info {
        font-size: 0.5rem;
    }
}
